
<div class="row">
  <div class="col-12">
    <h1>Companies</h1>

    <ng-container *ngFor="let company of getCompaniesList$ | async;">
      <div class="card">
        <div class="card-header">
          {{ company.name }}
        </div>
        <div class="card-body">
          <ul>
          <li class="card-text"><strong>Address:</strong> <br /> {{ company.address }}</li>
          <li class="card-text"><strong>Revenue:</strong> <br /> {{ company.revenue }}</li>
          <li class="card-text"><strong>Phone:</strong> <br /> {{ company.phone }}</li>
          </ul>
          <a [routerLink]="'/details/'" class="btn btn-primary">Company Overview</a>
        </div>
      </div>
      <br /><br />
    </ng-container>

  </div>
</div>
