
<div class="row">
  <div class="col-12">
    <br /><br />

      <div class="card">
        <div class="card-header">
          Add new company
        </div>
        <div class="card-body">
          <form #myform="ngForm" (ngSubmit)="newCompany(myform)" class="form form-register">

            <div class="form-field">
              <label for="add-name"><span class="hidden">Name</span></label> <br />
              <input name="name" id="add-name" type="text" class="form-input" ngModel required>
            </div>
            <div class="form-field">
              <label for="add-address"><span class="hidden">Address</span></label> <br />
              <input name="address" id="add-address" type="string" class="form-input" ngModel required>
            </div>
            <div class="form-field">
              <label for="add-revenue"><span class="hidden">Revenue</span></label> <br />
              <input name="revenue" id="add-revenue" type="text" class="form-input" ngModel required>
            </div>
            <div class="form-field">
              <label for="add-phone"><span class="hidden">Phone</span></label> <br />
              <input name="phone" id="add-phone" type="text" class="form-input" ngModel required>
            </div>
            <br />
            <div class="form-field">
              <input class="btn btn-primary" type="submit" value="Save">
            </div>
          </form>
        </div>
      </div>

    <br /><br />

  </div>
</div>
